@model WebAPI.Models.DonViVanTai

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DonViVanTai</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDonViHanhChinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDonViHanhChinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaSoThue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaSoThue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaDonViVanTai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaDonViVanTai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenDonVi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenDonVi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThuTruongDonVi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThuTruongDonVi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongXe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongXe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongXeToiDaTrongBen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongXeToiDaTrongBen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TinhTrangHoatDong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TinhTrangHoatDong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianBatDauHoatDong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianBatDauHoatDong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianNgungHoatDong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianNgungHoatDong)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Uuid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
